---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>Description</h1>
  <div> Hi, my name is william, I am currently a second year student at 42 Paris, a tution free school founded by
        the french entrepreneur Xavier Niel in 2013. I am interested in a lot of different things in life and in
        the programing ecosystem, which is reflected on the projects I did.
  </div>
  <h1>Projects</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <code class="highlight-rouge">{{ post.date | date_to_string }}</code>
        {% if post.categories contains 'graphical' %}
          <code class="highlight-rouge" style="background-color: #FFF3C9;">{{ post.categories }}</code> &rsaquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% elsif post.categories contains 'algorithm' %}
          <code class="highlight-rouge" style="background-color: #CCDEFF;">{{ post.categories }}</code> &rsaquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% elsif post.categories contains 'unix' %}
          <code class="highlight-rouge" style="background-color: #FFD9CE;">{{ post.categories }}</code> &rsaquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% else %}
          <code class="highlight-rouge">{{ post.categories }}</code> &rsaquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

<!-- <div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div> -->
