---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>Description</h1>
  <div> Hi! my name is William, I am currently a second year student at school 42 in Paris. I did my first intership at
        <a href="http://scortex.io/">Scortex</a> in machine learning during 5 months and I am currently looking for a
        part-time job or an internship.
  </div>
  <div>
        I used different kinds of languages from low-level programming with <b>C</b>, to higher-level programming with
        <b>Python</b> and <b>Ruby</b>, to web development with <b>PHP</b>, <b>HTML/CSS</b> and a bit of <b>Ruby on Rail</b>.
  </div>
  <h1>Projects</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <code class="highlight-rouge">{{ post.date | date_to_string }}</code>
        {% if post.categories contains 'graphical' %}
          <code class="highlight-rouge" style="background-color: #FFF3C9;">{{ post.categories }}</code> &rsaquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% elsif post.categories contains 'algorithm' %}
          <code class="highlight-rouge" style="background-color: #CCDEFF;">{{ post.categories }}</code> &rsaquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% elsif post.categories contains 'unix' %}
<!--           <code class="highlight-rouge" style="background-color: #FFD9CE;">{{ post.categories }}</code> &rsaquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> -->
          <code class="highlight-rouge" style="background-color: #FFD9CE; margin-left: 2.75rem;">{{ post.categories }}</code> &rsaquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% else %}
          <code class="highlight-rouge">{{ post.categories }}</code> &rsaquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

<!-- <div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div> -->
