{% if page.header %}
<section class="page-header" style="background-color: rgba(0, 0, 0, 0.33); background-image: url({{ page.header[0] }}); background-blend-mode: darken; background-size: cover; background-position-y: {{ page.header[1] }}%;">
{% else %}
<section class="page-header">
{% endif %}
  <h1 class="project-name">{{ site.title }}</h1>
  <h3 class="project-tagline">Student in second year at 42 Paris looking for a 6 month internship/part-time.</h3>
<!--   <h2 class="project-tagline">{{ site.tagline }}</h2> -->
  <a href="https://github.com/wwatkins42" class="btn" style="margin-left: 0rem; margin-bottom: 0rem;">GitHub</a>
  <a href="https://www.linkedin.com/in/william-watkins-0543b6118/" class="btn" style="margin-left: 0rem; margin-bottom: 0rem;">LinkedIn</a>
  <a href="mailto:william@watkins.fr" class="btn" style="margin-left: 0rem; margin-bottom: 0rem;">E-mail</a>
</section>

