---
layout: default
---
<a href="https://wwatkins42.github.io" style="margin-top:0.5em; position:absolute; margin-left:48.75em;border-width: 0.1em;border-color: #D5D5D5;width: 3.3em;border-radius: 0.2em;border-style: solid;text-align: center;font-family:&quot;source code pro&quot;;font-size: 1rem;">Home</a>

<h2>{{ page.title }}</h2>
<code class="highlighter-rouge" style="margin-top: -0.5em">{{ page.date | date_to_string }}</code>

<!-- Displays the type of project (first index of array categories) -->
{% if page.categories.first contains 'graphical' %}
  <code class="highlight-rouge" style="background-color: #FFF3C9;">{{ page.categories.first }}</code>
{% elsif page.categories.first contains 'algorithm' %}
  <code class="highlight-rouge" style="background-color: #CCDEFF;">{{ page.categories.first }}</code>
{% elsif page.categories.first contains 'unix' %}
  <code class="highlight-rouge" style="background-color: #FFD9CE;">{{ page.categories.first }}</code>
{% else %}
  <code class="highlight-rouge">{{ page.categories.first }}</code>
{% endif %}

<!-- Display all categories in <code> at offset 1 -->
{% for item in page.tags limit:10 %}
  <code class="highlight-rouge" style="background-color: #b5ece0;">{{ item }}</code>
{% endfor %}
<!-- Display pspecs list -->
{% for item in page.pspecs limit:10 %}
  <code class="highlight-rouge">{{ item }}</code>
{% endfor %}

<hr style="margin-top: 0.5rem;">

<!-- Display links -->
{% if page.links %}
  <p style="text-align: left; margin-top: -1.5rem; font-size: 0.9rem;">
    {% for hash in page.links %}
      {% for link in hash %}
        <a href="{{ link[1] }}" class="btn_post" style="margin-bottom: 0rem; padding: 0.2rem 0.5rem;">{{ link[0] | capitalize }}</a>
      {% endfor%}
    {% endfor%}
  </p>
{% endif %}

{{ content }}
