---
layout: default
---
<h2>{{ page.title }}</h2>
<code class="highlighter-rouge" style="margin-top: -0.5em">{{ page.date | date_to_string }}</code>

<!-- Displays the type of project (first index of array categories) -->
{% if page.categories.first contains 'graphical' %}
  <code class="highlight-rouge" style="background-color: #FFF3C9;">{{ page.categories.first }}</code>
{% elsif page.categories.first contains 'algorithm' %}
  <code class="highlight-rouge" style="background-color: #CCDEFF;">{{ page.categories.first }}</code>
{% elsif page.categories.first contains 'unix' %}
  <code class="highlight-rouge" style="background-color: #FFD9CE;">{{ page.categories.first }}</code>
{% else %}
  <code class="highlight-rouge">{{ page.categories.first }}</code>
{% endif %}

<!-- Display all categories in <code> at offset 1 -->
<!-- {% for item in page.categories offset:1 %} -->
{% for item in page.tags %}
  <code class="highlight-rouge" style="background-color: #dce5f2;">{{ item }}</code>
{% endfor %}

{{ content }}
